{% extends "diet/header.html" %}

{% block content %}

<h5>Data BMR & BMI</h5><br><br>

<div>
    <blockquote>
        <h5>BMR (Basal Metabolic Rate)</h5>
    </blockquote>
    <p>Laju metabolisme basal adalah jumlah kalori yang dibutuhkan tubuh Anda untuk mencapai fungsi-fungsi pendukung
        kehidupan yang paling dasar (basal). BMR Anda dapat digunakan untuk membantu Anda menambah, menurunkan, atau
        mempertahankan berat badan Anda. Dengan mengetahui berapa banyak kalori yang Anda bakar, Anda dapat mengetahui
        berapa banyak yang harus dikonsumsi. (Healthline)</p>
    <blockquote>
        <h5>BMI (Body Mass Index)</h5>
    </blockquote>
    <p>Indeks massa tubuh (BMI) adalah perkiraan lemak tubuh berdasarkan tinggi dan berat badan. Itu tidak mengukur
        lemak tubuh secara langsung, tetapi menggunakan persamaan untuk membuat perkiraan. BMI dapat membantu menentukan
        apakah seseorang memiliki berat badan yang tidak sehat atau sehat. (Healthline)</p>
</div>
<br>
<form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn" type="submit" style="margin: 1rem">Calculate</button>
</form><br><br>

{% endblock %}